@import "./responsive";

.footer{
    background:#191919;
    height: 180px;
    margin-bottom: 0px;
    border-top: 1px solid grey;
    

    &__img{
        position: relative;
        left: 600px;
        height: 10rem;

        @include tablet{
            left: 300px;
        }

        @include movil{
            left: 120px;
        }
    }

    &__icons{
        width: 100%;
        height: auto;
        margin: auto;

    } 
    
    &__copyright{
        text-align: center;
        font-size: 11px;
        color: #ECE7E1;
        padding-top: 15px;
    }

}

.list{
    text-align: center;
    margin-top: 11px;

    &__item{
        list-style: none;
        display: inline-block;

        &__icon{
            text-decoration: none;
            font-size: 15px;
            color: grey;
            background-color: #191919;
            border: 1px solid white;
            border-radius: 100%;
            margin: 0px 15px;
            padding: 10px;

            @include movil{
                font-size: 10px;
                margin: 0px 10px;
            }
        }
                
        &__icon:hover{
        color: #191919;
        background-color: white;
        }
            
    }
}
