@import "./partial/navbar";
@import "./partial/responsive";
@import "./partial/footer";

.botones{
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight:bold;
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 2px;
    padding: 10px 20px;
    margin-bottom: 40px;
    transition: background-color 0.3s, color 0.3s, border 0.3s;

    @include tablet{
        font-size: 11px;
        
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;

    body{
        font-family: 'Nunito Sans', sans-serif !important;
    

        .main-container{
            max-width: 1920px;
            margin: auto;
        }
    } 
}

.principal{
    background-image: url(../img/equipo.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;

}

.presentation{
    background-color: #191919;
    background-image: url(../img/background.png);
    height: 100vh;
    display: flex;
    flex-direction: column;

    &__title{
        font-size: 100px;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        padding-top: 50px;
        margin-bottom: 50px;
        font-family: 'Bebas Neue', cursive;
        text-align: center;

        @include tablet{
            font-size: 60px;
            padding-top: 40px;
            padding-left: 160px;
            width: 600px;
        }

        @include movil{
            padding-left: 20px;
            width: 400px;
        }
    }
}

.we{
    display: flex;
    align-items: center;
    justify-content: space-around;

    @include tablet{
        flex-direction: column;
    }

    &__text{
        display: flex;
        flex-direction: column;

        &__desc{
                font-size: 20px;
                font-weight: 500;
                color: white;
                width: 600px;
                text-align: left;
                padding: 30px;
                margin-bottom: 30px;
        
                @include tablet{
                    font-size: 17px;
                    width: 450px;
                    padding: 0;
                }
        
                @include movil{
                    width: 400px;
                }
            
        }

        &__link{
            @extend .botones;
            margin-left: 200px;
            width: 150px;

            &:hover{
                background-color: black;
                color: white;
                border: 2px solid #668CD9;
                transform: scale(1.01);
            }

            @include tablet{
                margin-left: 150px;
            }
            
            @include movil{
                margin-left: 120px;
            }
    
        }
    } 
    
    &__video{
        width: 500px;

        @include tablet{
            display: none;
        }

       
    
    }

    &__trailer{
        display: none;
        font-size: 20px;
        color: #668CD9;
        text-decoration: none;
        border-bottom: 1px solid white;
        transform: scale(1.1);
        position: relative;
        top: 50px;

        @include tablet{
            display: block;
            top: 0;
        }
    }


}


.agents{
    background-color: #191919;
    background-image: url(../img/background.png);
    background-size: cover;

    @include movil{
        height: 600px;
    }

}

.character{
    height: 600px;
    padding: 30px;
    margin: 30px;

    @include tablet{
        height: 450px;
        margin: 30px 0;
        padding: 0px;
    }

    @include movil{
        display: none;
    }
}


.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;

    @include tablet{
        margin-bottom: 50px;
    }

    @include movil{
        padding-top: 50px;
    }

    &__title{
        text-transform: uppercase;
        font-size: 70px;
        font-weight: bold;
        font-family: 'Bebas Neue', cursive;
        color: white;
        padding: 30px;

        @include tablet{
            font-size: 50px;
            padding-top: 0;
            padding-bottom: 10px;
        }

        @include movil{
            margin-top: 60px;
        }
        
    }

    &__subtitle{
        text-transform: uppercase;
        font-size: 22px;
        font-weight: bold;
        color: white;

        @include tablet{
            font-size: 20px;
        }

        @include movil{
            text-align: center;
        }
    }
            
    &__text{
        font-size: 18px;
        color: white;
        width: 50rem;
        padding-top:30px;
        margin-bottom: 40px;

    

        @include tablet{
            width: auto;
    
        }

        @include movil{
            text-align: center;
            margin-top: 20px;
            margin-bottom: 40px;
        }
    }
            
    &__link{
        @extend .botones;

        &:hover{
            background-color: black;
            color: white;
            border: 2px solid #668CD9;
            transform: scale(1.01);
        }

        @include movil{
            margin-top: 20px;
        }
        
    }
}

.middle{
    background-image: url(../img/middle.png);
    background-attachment: fixed;
    background-position:initial;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: 100%;

    @include tablet{
        background-position: center;
    }

    @include movil{
        background-position:center;
    }
}

.end{
    background-image: url(../img/end.png);
    background-attachment: fixed;
    background-position:initial;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: 100%;

    @include tablet{
        background-position:center;
    }
}

.maps{
    background: #191919;
    background-image: url(../img/background.png);
    height: 600px;

    @include tablet{
        height: 500px;
    }


}

.desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 550px;

    @include tablet{
        position: relative;
        bottom: 50px;
    }

    @include movil{
        height: 400px;
    }

        &__title{
            text-transform: uppercase;
            font-size: 70px;
            padding-bottom: 30px;
            font-weight: bold;
            font-family: 'Bebas Neue', cursive;
            color: white;
            margin-top: 100px;
            

            @include tablet{
                font-size: 50px;
                margin-top: 0;
            }

            @include movil{
                margin-top: 100px;
                padding-bottom: 10px;
            }

        }

        &__subtitle{
            text-transform: uppercase;
            font-size: 22px;
            font-weight: bold;
            color: white;

            @include tablet{
                font-size: 20px;
            }
        }
        

        &__text{
            font-size: 18px;
            color: white;   
            padding-top: 30px;


            @include movil{
                text-align: center;
                width: 400px;
            }
        }
        
}

.link{
    @extend .botones;
    position: relative;
    left: 200px;
    top: 300px;
    
    &:hover{
        background-color: black;
        color: white;
        border: 2px solid #668CD9;
        transform: scale(2);
    }

    @include tablet{
        left:50px;
    }

    @include movil{
        top: 0px;
        left: 130px;
    }
}

.team{
    background-image: url(../img/team.jpg);
    background-attachment: fixed;
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    width: 100%;

}

.characters{
    background-color: #191919;
    background-image: url(../img/background.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include tablet{
        height: 1000px;
    }

    @include movil{
        height: auto;
    }

    &__title{
        font-size: 100px;
        font-weight: bold;
        font-family: 'Bebas Neue', cursive;
        text-transform: uppercase;
        color: white;
        position: sticky; 
        padding-top: 50px; 
        
        @include movil{
            width: 400px;
            text-align: center;
        }
    }

    &__text{
        font-size: 20px;
        width: 700px;
        text-align: center;
        color: white;
        -webkit-text-stroke: 0.4px black;

        @include tablet{
            width: 600px;
        }

        @include movil{
            width: 400px;
        }
    }
}

.carousel{
    height: 100vh;
    width: 1000px;
    margin-top: 60px;

    @include tablet{
        height: auto;
        width: 700px;
    }

    @include movil{
        height: auto;
        width: 420px;
    }
    
    &--skins{
        width: 600px;
        margin-top: 30px;

        @include movil{
            width: 400px;
        }

    }
}

.agent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    @include movil{
        flex-direction: column;
        margin-bottom: 50px;
    }

    &__img{
        height: 400px;
        margin-top: 60px;

        @include movil{
            height: 400px;
        }
    }
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__title{
        width:500px ;
        text-transform: uppercase;
        font-size: 80px;
        font-weight: bold;
        letter-spacing: 4px;
        font-family: 'Bebas Neue', cursive;
        color: #ECE7E1;
        padding: 30px; 

        @include tablet{
            font-size: 80px;
        }

        @include movil{
            font-size: 70px;
            width: 200px;
        }
    }

    &__type{

        display: flex;
        

        &__name{
            width:200px ;
            text-transform: uppercase;
            font-size: 60px;
            font-family: 'Bebas Neue', cursive;
            color: #ECE7E1;
            padding-left: 30px;
        }

        @include tablet{
            font-size: 22px;
        }

        @include movil{
            width: 200px;
        }

        &__img{
            height: 40px;
            padding-left: 20px;

            &--controller{
                padding-left: 80px;
            }
        }
    }

    &__text{
        width: 500px;
        font-size: 18px;
        color: #ECE7E1;
        padding: 30px;

        @include tablet{
            font-size: 20px;
        }

        @include movil{
            font-size: 18px;
            width:auto;
        }
    }
}

.abilities{
    display: flex;
    flex-direction: column;

    &__item{
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;

        &__img{
            height: 40px;
        }

        &__desc{
            font-size: 14px;
            margin-left: 10px;
            
        }
    }
}

.powers{
    @extend .botones;
    width: 200px;
    margin-left: 100px;

    &:hover{
        background-color: black !important;
        color: white;
        border: 2px solid #668CD9;
        transform: scale(1.01);
    }
}

.window{
    background-color: #191919;
    color: white;
    font-size: 16px;
}

.previous{
    font-size: 50px;
    margin-right: 200px;
}

.next{
    font-size: 50px;
    margin-left: 200px;
}

.controls{

    &--agents{

        top: 400px;

        @include tablet{
            top: 500px;
        }
    }

    &--maps{
        top: 450px;

        @include movil{
            top: 650px;
        }
    }

    &--skins{
        top: 150px;
    }
    
}

.sector{
    background-attachment: fixed;
}

.banner{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    &__video{
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }

    &__content{
        position: relative;
        bottom: 100px;
        z-index: 1;
        max-width: 1000px;
        margin: 0 auto;
        text-align: center;

       
        &__title{
            margin: 0;
            padding: 0;
            font-size: 100px;
            font-family: 'Bebas Neue', cursive;
            font-weight: bold;
            text-transform: uppercase;
            color: #191919;
        
        }

    }    
    
}

.playground{
    background-color: #191919;
    background-image: url(../img/background.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;

    @include tablet{
        height: 800px;
    }

    @include movil{
        height: 800px;
    }
}

.map{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;

    @include tablet{
        flex-direction: column;
        margin-top: 0;
        margin-bottom: 60px;

    }

    @include movil{
        flex-direction: column;
        margin-top: 0;
    }

    &__content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

       
        &__title{
            font-size: 70px;
            font-weight: bold;
            font-family: 'Bebas Neue', cursive;
            letter-spacing: 3px;
            color: white;
            padding-top: 30px;

            @include tablet{
                font-size: 80px;
                padding-top: 0;
            }

            @include movil{
                font-size: 80px;
                text-align: center;
                padding-top: 0;
            }
           
        }

        &__desc{
            width: 400px;
            font-size: 18px;
            color: white;

            @include tablet{
                font-size: 20px;
            }

            @include movil{
                font-size: 18px;
                text-align: center;
                width: 325px;
                padding-bottom: 40px;
            }
        }
    }      
        
        
    &__img{
        height: 300px;
        
        @include movil{
            height: 250px;
            margin-bottom: 40px;
        }
    }
    

}

.galery{
    @extend .botones;
    width: 200px;
    margin-top: 50px;
    margin-left: 100px;

    @include movil{
        margin-top: 20px;
        margin-left: 60px;
    }

    &:hover{
        background-color: black !important;
        color: white;
        border: 2px solid #668CD9;
        transform: scale(1.01);
    }
}

.pictures{
    display: flex;
    flex-direction: column;

    &__item{
        width: auto;
        padding: 20px 0;
    }
}

.weapons{
    background-image: url(../img/arsenal.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;

    &__title{
        font-size: 100px;
        font-weight: bold;
        font-family: 'Bebas Neue', cursive;
        color: white;
        text-transform: uppercase;
        padding: 30px;
    }

    &__options{
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        padding: 15px;
        background: none;
        border: 1px black solid;

        &__item{
            background:none;
     
        }
    }
}

.arsenal{
    background-color: #191919;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;

    &__type{
        text-transform: uppercase;
        font-size: 70px;
        font-weight: bold;
        font-family: 'Bebas Neue', cursive;
        color: white;
        padding-left: 30px;
        padding-top: 40px;
    }
    
    &__grid{
        display: grid;
        grid-template-areas: 
        "one two"
        "three four"
        "five .";
        grid-template-columns: 600px 600px;
        grid-row-gap:40px;
        justify-content: center;
        padding: 50px 0;

        @include tablet{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        @include movil{
            display: flex;
            flex-direction: column;
            justify-content:center;
        }
    }

}

#one{
    grid-area: one;
}

#two{
    grid-area: two;
}
#three{
    grid-area: three;
}
#four{
    grid-area: four;
}
#five{
    grid-area: five;
}


.weapon{
    display: flex;
    flex-direction: row;
    transition-property: background-color, color ;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transform-origin: left;
    margin-bottom: 0px;

    &:hover{
        background-color: #191919;
        color: #668CD9;
        
    }

    @include movil{
        flex-direction: column;
        height: 450px;
        margin-bottom: 30px;
    }
    
    &__desc{
        display: flex;
        flex-direction: column;
        width: 400px;
        color: white;

        &:hover{
            color: #668CD9;
        }

        @include tablet{
            margin-left: 30px;
        }

        @include movil{
            width: 350px;
        }

            &__title{
                text-transform: uppercase;
                font-size: 50px;
                font-weight: bold;
                font-family: 'Bebas Neue', cursive;
                padding: 20px;

            }

            &__text{
                font-size: 16px;
                padding: 30px;
            }
    }

    &__img{
        height: 100px;
        position: relative;
        top: 100px;
        
        @include tablet{
            height: 80px;
            margin-left: 30px;
        }

        @include movil{
            height: auto;
            top: 20px;
        }
    }
}

.detail{
    display: none;
}

.more{
    background-image: url(../img/banner.jpg);
    background-attachment: fixed;
    background-position:initial;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;

    @include tablet{
        background-position: center;
    }

    @include movil{
        background-position: center;
    }

}

.news{
    background-color: #191919;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;


    &__title{
        font-size: 100px;
        font-weight: bold;
        font-family: 'Bebas Neue', cursive;
        color: white;
        text-transform: uppercase;
        padding: 50px;
    }
}

.new{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 30px;
    padding-left: 50px;
    padding-bottom: 50px;
    

    @include tablet{
        justify-content: space-around;

    }

    @include movil{
        flex-direction: column;
        padding-left: 0px;
    }

    &--two{
        justify-content: flex-end;
        margin-right: 50px;

        @include movil{
            margin-right: 0;
        }
    }

    &__img{

        &__capture{
            height: 200px;
        }
    }

    &__detail{
        display: flex;
        flex-direction: column;
    }
}

.article{
    color: white;
    width: 200px;
    margin-left: 30px;

    &__date{
        font-size: 16px;
        display: block;
    }

    &__title{
        font-size: 22px;
        font-weight: bold;
        text-transform: uppercase;
    }

    &__desc{
        font-size: 16px;
    }

    &__view{

        &__more{
            text-decoration: none;
            text-transform: uppercase;
            font-size: 16px;
            color: #668CD9;
            padding: 10px;

        }
    }
}

.extra{
    background-color: #191919;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    display: flex;
    align-items: center;
    
    @include tablet{
        flex-direction: column;
        height: auto;
    }

    @include movil{
        height:auto;
    }

}

.comments{
    width: 600px;
    padding: 100px;

    @include movil{
        width: 400px;
        padding: 20px;
        padding-top: 100px;
        margin-bottom: 40px;
    }

    &__title{
        font-size: 60px;
        font-weight: bold;
        font-family: 'Bebas Neue', cursive;
        text-transform: uppercase;
        color: white;
        padding-bottom: 30px;
    }
}

.form-group{
    margin: 10px;

    &__label{
        font-size: 16px;
        color: white;
    }

    &__btn{
        @extend .botones;
        padding: 10px;

        &:hover{
            background-color: black;
            color: white;
            border: 2px solid #668CD9;
            transform: scale(1.01);
        }
    }
}

.form-control{
    font-size: 12px;
}

.media{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 250px;

    @include tablet{
        margin-left: 0;
        margin-top: 100px;
    }

    &__title{
        font-size: 60px;
        font-weight: bold;
        font-family: 'Bebas Neue', cursive;
        text-transform: uppercase;
        color: white;

    }
}

.skin{
   
    &__img{
        height: 350px;

        @include tablet{
            height: 330px;
        }

        @include movil{
            height: 300px;
        }
    }
}
