@font-face {
  font-family: valorant;
  src: url(valorant-font.ttf);
}

.nav {
  background: #191919;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  height: 8rem;
  position: fixed;
  z-index: 50;
  font-family: valorant;
}

@media screen and (max-width: 768px) {
  .nav {
    height: auto;
  }
}

.brand {
  font-size: 25px;
  text-decoration: none;
  color: white;
}

.brand__symbol {
  height: 50px;
}

.links {
  margin-right: 40px;
}

.links__item {
  color: white !important;
  padding: 10px 20px;
  margin: 0 30px;
}

.links__item:hover {
  color: #668CD9 !important;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border-bottom: 1px solid white;
}

.btn {
  font-size: 15px;
}

.footer {
  background: #191919;
  height: 180px;
  margin-bottom: 0px;
}

.footer__img {
  position: relative;
  left: 625px;
  height: 10rem;
}

@media screen and (max-width: 768px) {
  .footer__img {
    left: 330px;
  }
}

@media screen and (max-width: 425px) {
  .footer__img {
    left: 165px;
  }
}

.footer__icons {
  width: 100%;
  height: auto;
  margin: auto;
}

.footer__copyright {
  text-align: center;
  font-size: 11px;
  color: #ECE7E1;
  padding-top: 15px;
}

.list {
  text-align: center;
  margin-top: 11px;
}

.list__item {
  list-style: none;
  display: inline-block;
}

.list__item__icon {
  text-decoration: none;
  font-size: 15px;
  color: grey;
  background-color: #191919;
  border: 1px solid white;
  border-radius: 100%;
  margin: 0px 15px;
  padding: 10px;
}

@media screen and (max-width: 425px) {
  .list__item__icon {
    font-size: 10px;
    margin: 0px 10px;
  }
}

.list__item__icon:hover {
  color: #191919;
  background-color: white;
}

.botones, .we__text__link, .info__link, .link, .powers, .galery {
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: black;
  background-color: white;
  border: 2px solid black;
  border-radius: 2px;
  padding: 10px 20px;
  margin-bottom: 40px;
  -webkit-transition: background-color 0.3s, color 0.3s, border 0.3s;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

@media screen and (max-width: 768px) {
  .botones, .we__text__link, .info__link, .link, .powers, .galery {
    font-size: 11px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html body {
  font-family: 'Nunito Sans', sans-serif !important;
}

html body .main-container {
  max-width: 1920px;
  margin: auto;
}

.principal {
  background-image: url(../img/equipo.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.presentation {
  background-color: #191919;
  background-image: url(../img/background.png);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.presentation__title {
  font-size: 100px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  padding-top: 50px;
  margin-bottom: 50px;
  font-family: 'Bebas Neue', cursive;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .presentation__title {
    font-size: 60px;
    padding-top: 40px;
    padding-left: 160px;
    width: 600px;
  }
}

@media screen and (max-width: 425px) {
  .presentation__title {
    padding-left: 20px;
    width: 400px;
  }
}

.we {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 768px) {
  .we {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.we__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.we__text__desc {
  font-size: 20px;
  font-weight: 500;
  color: white;
  width: 600px;
  text-align: left;
  padding: 30px;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .we__text__desc {
    font-size: 17px;
    width: 450px;
    padding: 0;
  }
}

@media screen and (max-width: 425px) {
  .we__text__desc {
    width: 400px;
  }
}

.we__text__link {
  margin-left: 200px;
  width: 150px;
}

.we__text__link:hover {
  background-color: black;
  color: white;
  border: 2px solid #668CD9;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

@media screen and (max-width: 768px) {
  .we__text__link {
    margin-left: 150px;
  }
}

@media screen and (max-width: 425px) {
  .we__text__link {
    margin-left: 120px;
  }
}

.we__video {
  width: 500px;
}

@media screen and (max-width: 768px) {
  .we__video {
    display: none;
  }
}

.we__trailer {
  display: none;
  font-size: 20px;
  color: #668CD9;
  text-decoration: none;
  border-bottom: 1px solid white;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  position: relative;
  top: 50px;
}

@media screen and (max-width: 768px) {
  .we__trailer {
    display: block;
    top: 0;
  }
}

.agents {
  background-color: #191919;
  background-image: url(../img/background.png);
  background-size: cover;
}

@media screen and (max-width: 425px) {
  .agents {
    height: 600px;
  }
}

.character {
  height: 600px;
  padding: 30px;
  margin: 30px;
}

@media screen and (max-width: 768px) {
  .character {
    height: 450px;
    margin: 30px 0;
    padding: 0px;
  }
}

@media screen and (max-width: 425px) {
  .character {
    display: none;
  }
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 100px;
}

@media screen and (max-width: 768px) {
  .info {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 425px) {
  .info {
    padding-top: 50px;
  }
}

.info__title {
  text-transform: uppercase;
  font-size: 70px;
  font-weight: bold;
  font-family: 'Bebas Neue', cursive;
  color: white;
  padding: 30px;
}

@media screen and (max-width: 768px) {
  .info__title {
    font-size: 50px;
    padding-top: 0;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 425px) {
  .info__title {
    margin-top: 60px;
  }
}

.info__subtitle {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
  color: white;
}

@media screen and (max-width: 768px) {
  .info__subtitle {
    font-size: 20px;
  }
}

@media screen and (max-width: 425px) {
  .info__subtitle {
    text-align: center;
  }
}

.info__text {
  font-size: 18px;
  color: white;
  width: 50rem;
  padding-top: 30px;
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .info__text {
    width: auto;
  }
}

@media screen and (max-width: 425px) {
  .info__text {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

.info__link:hover {
  background-color: black;
  color: white;
  border: 2px solid #668CD9;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

@media screen and (max-width: 425px) {
  .info__link {
    margin-top: 20px;
  }
}

.middle {
  background-image: url(../img/middle.png);
  background-attachment: fixed;
  background-position: initial;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .middle {
    background-position: center;
  }
}

@media screen and (max-width: 425px) {
  .middle {
    background-position: center;
  }
}

.end {
  background-image: url(../img/end.png);
  background-attachment: fixed;
  background-position: initial;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .end {
    background-position: center;
  }
}

.maps {
  background: #191919;
  background-image: url(../img/background.png);
  height: 600px;
}

@media screen and (max-width: 768px) {
  .maps {
    height: 500px;
  }
}

.desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 550px;
}

@media screen and (max-width: 768px) {
  .desc {
    position: relative;
    bottom: 50px;
  }
}

@media screen and (max-width: 425px) {
  .desc {
    height: 400px;
  }
}

.desc__title {
  text-transform: uppercase;
  font-size: 70px;
  padding-bottom: 30px;
  font-weight: bold;
  font-family: 'Bebas Neue', cursive;
  color: white;
  margin-top: 100px;
}

@media screen and (max-width: 768px) {
  .desc__title {
    font-size: 50px;
    margin-top: 0;
  }
}

@media screen and (max-width: 425px) {
  .desc__title {
    margin-top: 100px;
    padding-bottom: 10px;
  }
}

.desc__subtitle {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
  color: white;
}

@media screen and (max-width: 768px) {
  .desc__subtitle {
    font-size: 20px;
  }
}

.desc__text {
  font-size: 18px;
  color: white;
  padding-top: 30px;
}

@media screen and (max-width: 425px) {
  .desc__text {
    text-align: center;
    width: 400px;
  }
}

.link {
  position: relative;
  left: 200px;
  top: 300px;
}

.link:hover {
  background-color: black;
  color: white;
  border: 2px solid #668CD9;
  -webkit-transform: scale(2);
          transform: scale(2);
}

@media screen and (max-width: 768px) {
  .link {
    left: 50px;
  }
}

@media screen and (max-width: 425px) {
  .link {
    top: 0px;
    left: 130px;
  }
}

.team {
  background-image: url(../img/team.jpg);
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 75vh;
  width: 100%;
}

.characters {
  background-color: #191919;
  background-image: url(../img/background.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .characters {
    height: 1000px;
  }
}

@media screen and (max-width: 425px) {
  .characters {
    height: auto;
  }
}

.characters__title {
  font-size: 100px;
  font-weight: bold;
  font-family: 'Bebas Neue', cursive;
  text-transform: uppercase;
  color: white;
  position: -webkit-sticky;
  position: sticky;
  padding-top: 50px;
}

@media screen and (max-width: 425px) {
  .characters__title {
    width: 400px;
    text-align: center;
  }
}

.characters__text {
  font-size: 20px;
  width: 700px;
  text-align: center;
  color: white;
  -webkit-text-stroke: 0.4px black;
}

@media screen and (max-width: 768px) {
  .characters__text {
    width: 600px;
  }
}

@media screen and (max-width: 425px) {
  .characters__text {
    width: 400px;
  }
}

.carousel {
  height: 100vh;
  width: 1000px;
  margin-top: 60px;
}

@media screen and (max-width: 768px) {
  .carousel {
    height: auto;
    width: 700px;
  }
}

@media screen and (max-width: 425px) {
  .carousel {
    height: auto;
    width: 420px;
  }
}

.carousel--skins {
  width: 600px;
  margin-top: 30px;
}

@media screen and (max-width: 425px) {
  .carousel--skins {
    width: 400px;
  }
}

.agent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 425px) {
  .agent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 50px;
  }
}

.agent__img {
  height: 400px;
  margin-top: 60px;
}

@media screen and (max-width: 425px) {
  .agent__img {
    height: 400px;
  }
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content__title {
  width: 500px;
  text-transform: uppercase;
  font-size: 80px;
  font-weight: bold;
  letter-spacing: 4px;
  font-family: 'Bebas Neue', cursive;
  color: #ECE7E1;
  padding: 30px;
}

@media screen and (max-width: 768px) {
  .content__title {
    font-size: 80px;
  }
}

@media screen and (max-width: 425px) {
  .content__title {
    font-size: 70px;
    width: 200px;
  }
}

.content__type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content__type__name {
  width: 200px;
  text-transform: uppercase;
  font-size: 60px;
  font-family: 'Bebas Neue', cursive;
  color: #ECE7E1;
  padding-left: 30px;
}

@media screen and (max-width: 768px) {
  .content__type {
    font-size: 22px;
  }
}

@media screen and (max-width: 425px) {
  .content__type {
    width: 200px;
  }
}

.content__type__img {
  height: 40px;
  padding-left: 20px;
}

.content__type__img--controller {
  padding-left: 80px;
}

.content__text {
  width: 500px;
  font-size: 18px;
  color: #ECE7E1;
  padding: 30px;
}

@media screen and (max-width: 768px) {
  .content__text {
    font-size: 20px;
  }
}

@media screen and (max-width: 425px) {
  .content__text {
    font-size: 18px;
    width: auto;
  }
}

.abilities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.abilities__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 20px;
}

.abilities__item__img {
  height: 40px;
}

.abilities__item__desc {
  font-size: 14px;
  margin-left: 10px;
}

.powers {
  width: 200px;
  margin-left: 100px;
}

.powers:hover {
  background-color: black !important;
  color: white;
  border: 2px solid #668CD9;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.window {
  background-color: #191919;
  color: white;
  font-size: 16px;
}

.previous {
  font-size: 50px;
  margin-right: 200px;
}

.next {
  font-size: 50px;
  margin-left: 200px;
}

.controls--agents {
  top: 400px;
}

@media screen and (max-width: 768px) {
  .controls--agents {
    top: 500px;
  }
}

.controls--maps {
  top: 450px;
}

@media screen and (max-width: 425px) {
  .controls--maps {
    top: 650px;
  }
}

.controls--skins {
  top: 150px;
}

.sector {
  background-attachment: fixed;
}

.banner {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner__video {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.banner__content {
  position: relative;
  bottom: 100px;
  z-index: 1;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.banner__content__title {
  margin: 0;
  padding: 0;
  font-size: 100px;
  font-family: 'Bebas Neue', cursive;
  font-weight: bold;
  text-transform: uppercase;
  color: #191919;
}

.playground {
  background-color: #191919;
  background-image: url(../img/background.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 700px;
}

@media screen and (max-width: 768px) {
  .playground {
    height: 800px;
  }
}

@media screen and (max-width: 425px) {
  .playground {
    height: 800px;
  }
}

.map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}

@media screen and (max-width: 768px) {
  .map {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 425px) {
  .map {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
  }
}

.map__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.map__content__title {
  font-size: 70px;
  font-weight: bold;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 3px;
  color: white;
  padding-top: 30px;
}

@media screen and (max-width: 768px) {
  .map__content__title {
    font-size: 80px;
    padding-top: 0;
  }
}

@media screen and (max-width: 425px) {
  .map__content__title {
    font-size: 80px;
    text-align: center;
    padding-top: 0;
  }
}

.map__content__desc {
  width: 400px;
  font-size: 18px;
  color: white;
}

@media screen and (max-width: 768px) {
  .map__content__desc {
    font-size: 20px;
  }
}

@media screen and (max-width: 425px) {
  .map__content__desc {
    font-size: 18px;
    text-align: center;
    width: 325px;
    padding-bottom: 40px;
  }
}

.map__img {
  height: 300px;
}

@media screen and (max-width: 425px) {
  .map__img {
    height: 250px;
    margin-bottom: 40px;
  }
}

.galery {
  width: 200px;
  margin-top: 50px;
  margin-left: 100px;
}

@media screen and (max-width: 425px) {
  .galery {
    margin-top: 20px;
    margin-left: 60px;
  }
}

.pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pictures__item {
  width: auto;
  padding: 20px 0;
}

.weapons {
  background-image: url(../img/arsenal.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100%;
}

.weapons__title {
  font-size: 100px;
  font-weight: bold;
  font-family: 'Bebas Neue', cursive;
  color: white;
  text-transform: uppercase;
  padding: 30px;
}

.weapons__options {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 15px;
  background: none;
  border: 1px black solid;
}

.weapons__options__item {
  background: none;
}

.arsenal {
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.arsenal__type {
  text-transform: uppercase;
  font-size: 70px;
  font-weight: bold;
  font-family: 'Bebas Neue', cursive;
  color: white;
  padding-left: 30px;
  padding-top: 40px;
}

.arsenal__grid {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "one two" "three four" "five none";
  -ms-grid-columns: 600px 600px;
      grid-template-columns: 600px 600px;
  grid-row-gap: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0;
}

@media screen and (max-width: 768px) {
  .arsenal__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 425px) {
  .arsenal__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#one {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
}

#two {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: two;
}

#three {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: three;
}

#four {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: four;
}

#five {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: five;
}

.weapon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transform-origin: left;
          transform-origin: left;
  margin-bottom: 0px;
}

.weapon:hover {
  background-color: #191919;
  color: #668CD9;
}

@media screen and (max-width: 425px) {
  .weapon {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 450px;
    margin-bottom: 30px;
  }
}

.weapon__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
  color: white;
}

.weapon__desc:hover {
  color: #668CD9;
}

@media screen and (max-width: 768px) {
  .weapon__desc {
    margin-left: 30px;
  }
}

@media screen and (max-width: 425px) {
  .weapon__desc {
    width: 350px;
  }
}

.weapon__desc__title {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: bold;
  font-family: 'Bebas Neue', cursive;
  padding: 20px;
}

.weapon__desc__text {
  font-size: 16px;
  padding: 30px;
}

.weapon__img {
  height: 100px;
  position: relative;
  top: 100px;
}

@media screen and (max-width: 768px) {
  .weapon__img {
    height: 80px;
    margin-left: 30px;
  }
}

@media screen and (max-width: 425px) {
  .weapon__img {
    height: auto;
    top: 20px;
  }
}

.detail {
  display: none;
}

.more {
  background-image: url(../img/banner.jpg);
  background-attachment: fixed;
  background-position: initial;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .more {
    background-position: center;
  }
}

@media screen and (max-width: 425px) {
  .more {
    background-position: center;
  }
}

.news {
  background-color: #191919;
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.news__title {
  font-size: 100px;
  font-weight: bold;
  font-family: 'Bebas Neue', cursive;
  color: white;
  text-transform: uppercase;
  padding: 50px;
}

.new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  padding-left: 50px;
  padding-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .new {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 425px) {
  .new {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0px;
  }
}

.new--two {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 50px;
}

@media screen and (max-width: 425px) {
  .new--two {
    margin-right: 0;
  }
}

.new__img__capture {
  height: 200px;
}

.new__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.article {
  color: white;
  width: 200px;
  margin-left: 30px;
}

.article__date {
  font-size: 16px;
  display: block;
}

.article__title {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}

.article__desc {
  font-size: 16px;
}

.article__view__more {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: #668CD9;
  padding: 10px;
}

.article__view__more:hover {
  font-size: 18px;
}

.extra {
  background-color: #191919;
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .extra {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
}

@media screen and (max-width: 425px) {
  .extra {
    height: auto;
  }
}

.comments {
  width: 600px;
  padding: 100px;
}

@media screen and (max-width: 425px) {
  .comments {
    width: 400px;
    padding: 20px;
    padding-top: 100px;
    margin-bottom: 40px;
  }
}

.comments__title {
  font-size: 60px;
  font-weight: bold;
  font-family: 'Bebas Neue', cursive;
  text-transform: uppercase;
  color: white;
  padding-bottom: 30px;
}

.form-group {
  margin: 10px;
}

.form-group__label {
  font-size: 16px;
  color: white;
}

.form-control {
  font-size: 12px;
}

.media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 100px;
  margin-top: 250px;
}

@media screen and (max-width: 768px) {
  .media {
    margin-left: 0;
    margin-top: 100px;
  }
}

.media__title {
  font-size: 60px;
  font-weight: bold;
  font-family: 'Bebas Neue', cursive;
  text-transform: uppercase;
  color: white;
}

.skin__img {
  height: 350px;
}

@media screen and (max-width: 768px) {
  .skin__img {
    height: 330px;
  }
}

@media screen and (max-width: 425px) {
  .skin__img {
    height: 300px;
  }
}
/*# sourceMappingURL=main.css.map */